
 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  font-family: sans-serif;
}
.tImagen{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.imagenEdit{
  width: 30%;
  height: 30%;
}
.productos{
  margin-top: 40px;
 
}
.logoNav{
  width: 80px;  
}
.tLogo{
    height:100px;
    width: 200px;

 }
 .textoArribos{
   margin-top: -23px;
 }
 .centerText{
     margin-left: 30px;
 }
 .menuCentrado{
     padding-left: 35%;
   /* position: fixed;
    z-index:10;
    border-top:0;*/
 }
 .menuCentradoConsola{
  padding-left: 20%;
/* position: fixed;
 z-index:10;
 border-top:0;*/
}
.centerTextConsola{
  margin-right: 90px;
}
 .borde{
   border: 1px solid black;
   color: black;
 }
 .contenedorCard{
   width: 100% !important;
   padding-left: 10% !important;
   padding-right: 9% !important;
   margin-right: 0px !important;
   margin-left: 0px !important;
   margin-bottom: 0px !important;

}
.tamañoCarousel{
 max-width: 600px;
 width: 80%;
}
.tamañoMedio{
 font-size: 2em;
}
.page-footer {
  position: flex;
  bottom: 0;
  width: 100%;
}
.centro{
   margin-left: 30% !important;
   margin-right: 30% !important;
}
nav.clean {
  background: none;
  box-shadow: none;
}
nav.clean .breadcrumb {
  color: black;
}
nav.clean .breadcrumb:before {
  color: rgba(0, 0, 0, 0.7);
}